<div class="page-title">
  <h1>{{name}}
    <small>version {{version}}</small>
    {{#hasCollection}}
      <button class="btn back-to-list pull-right">&times;</button>
    {{/hasCollection}}
  </h1>

  <h3>Description</h3>
  {{#shortDescription}}
  <p>
    {{.}}
  </p>
  {{/shortDescription}}

  {{#longDescription}}
  <p>
    {{.}}
  </p>
  {{/longDescription}}

  <p>
    <a data-id="{{id}}" class="btn btn-primary btn-show-form">Use this</a>
    <a data-id="{{id}}" class="btn btn-primary btn-show-permissions">Edit Permissions</a>
  </p>
  <div class="app-form"></div>
</div>
