<dl class="dl-horizontal">
  <dt>UUID</dt>
  <dd><a class="view-app" href="#meta/data/{{uuid}}">{{uuid}}</a></dd>
  <dt>Owner</dt>
  <dd>{{owner}}</dd>
  <dt>Name</dt>
  <dd>{{name}}</dd>
  <dt>Last updated</dt>
  <dd>{{lastUpdated}}</dd>
</dl>
