<div class="page-title">
  <h2>Metadata Item {{uuid}}
    {{#hasCollection}}
      <button class="btn back-to-list pull-right">&times;</button>
    {{/hasCollection}}
  </h1>

  <dl class="dl-horizontal">
    <dt>Owner</dt> <dd>{{owner}}</dd>
    <dt>Created</dt> <dd>{{created}}</dd>
    <dt>Last updated</dt> <dd>{{lastUpdated}}</dd>
    {{#associationIds}}
    <dt>Associated resource</dt> <dd>.</dd>
    {{/associationIds}}
    <dt>Name</dt> <dd>{{name}}</dd>
    <dt>Value</dt> <dd><pre>{{value}}</pre></dd>
  </dl>
  <p>
    <a href="#meta/data" class="btn btn-primary back-to-list">Back to Metadata</a>
    <a data-id="{{id}}" class="btn btn-primary btn-show-permissions">Edit Permissions</a>
  </p>
  <div class="app-form"></div>
</div>
