<h2>Your active authentication tokens</h2>
<div class="tokens"></div>
<div class="row">
    <div class="offset3 span6">
        <button class="btn btn-success btn-new-token btn-block">
            <i class="icon icon-plus-sign"></i> Get New Token
        </button>
    </div>
</div>
