<div class="alert alert-info">
    <i class="icon icon-info-sign"></i> Use your iPlant credentials to obtain a token.
</div>
<div class="container-fluid">
  <div class="row">
    <div class="content span5 text-center">
      <a data-id="{{id}}" class="oauthd-submit btn btn-large btn-success" style="margin-top:100px;">Login with OAuth</a>
    </div>
    <div class="content span6 center" style="border-left: 1px solid #c5c5c5;">
      <div style="margin: 0 auto;width: 250px;">
        <form method="post">
          <fieldset>
              <label for="username">Username</label>
              <input type="text" placeholder="Username" name="username" id="username" value="{{username}}">
          </fieldset>
          <fieldset>
              <label for="password">Password</label>
              <input type="password" placeholder="Password" name="password" id="password" value="{{password}}">
          </fieldset>
          <fieldset>
              <label for="client_secret">Client Secret</label>
              <input type="text" placeholder="client secret" name="client_secret" id="client_secret" value="{{client_secret}}">
          </fieldset>
          <fieldset>
              <label for="client_key">Client Key</label>
              <input type="text" placeholder="client key" name="client_key" id="client_key" value="{{client_key}}">
          </fieldset>
          <input type="submit" value="Login with Password" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>
