<form class="renew-form">
  <p>Please enter your iPlant password to renew your token.</p>
   <fieldset>
        <label for="client_secret">Client Secret</label>
        <input type="text" placeholder="client secret" name="client_secret" id="client_secret" value="{{client_secret}}">
    </fieldset>
    <fieldset>
        <label for="client_key">Client Key</label>
        <input type="text" placeholder="client key" name="client_key" id="client_key" value="{{client_key}}">
    </fieldset>
  <button class="btn btn-primary" type="submit">Refresh token</button>
  <button class="btn btn-cancel">Cancel</button>
</form>
