<div class="control-label">
  <label for="{{id}}">{{label}}</label>
</div>
<div class="controls">
  <select name="{{name}}" id="{{id}}">
    <option>Choose one</option>
    {{#each options}}
      <option value="{{option}}" {{#defaultValue}}selected{{/defaultValue}}>{{option}}</option>
    {{/each}}
  </select>
</div>