<dl class="dl-horizontal">
  <dt>Type</dt>
  <dd>{{type}} Notification</dd>
  <dt>ID</dt>
  <dd>{{id}}</dd>
  <dt>Event</dt>
  <dd>{{event}}</dd>
  <dt>Callback</dt>
  <dd>{{url}}</dd>
  <dt>Associated resource</dt>
  <dd>{{associated_resource}}</dd>
 </dl>
