<h1>Search Notifications By Resource UUID</h1>
<div class="search">
  <p>You can search for Notifications associated with a specific Agave resource.</p>
  <form method="post" name="notification-search-form">
  <div class="control-group">
    <label class="control-label" for="keyword">Search term</label>
    <div class="controls">
      <input type="text" name="keyword" id="keyword" size="64" value="{{keyword}}">
    </div>
  </div>

  <div class="form-actions">
    <input type="submit" class="btn btn-success btn-search" value="Search">
  </div>
  </form>

  {{#if results}}
  <h2>Search results</h2>
  <div class="results"></div>
  {{/if}}
</div>
