<ul class="nav nav-list">
  <h3>Private Systems</h3>

  {{#each systems}}
    {{#unless this.public}}
    <li><a class="view-system" data-id="{{id}}" href="#systems/{{id}}">{{name}} <span data-id="{{id}}" class="clear tiny">({{id}})</span></a></li>
    {{/unless}}
  {{/each}}
</ul>


<ul class="nav nav-list">
  <h3>Public Systems</h3>
  {{#each systems}}
    {{#if this.public}}
    <li><a class="view-system" data-id="{{id}}" href="#systems/{{id}}">{{name}} <span data-id="{{id}}" class="clear tiny">({{id}})</span></a></li>
    {{/if}}
  {{/each}}
</ul>
