<div class="page-title">
  <h1>{{name}}
    <small class="capitalize clearfix">{{type}} system</small>
    {{#hasCollection}}
      <button class="btn back-to-list pull-right">&times;</button>
    {{/hasCollection}}
  </h1>

  <h3>Description</h3>
  {{#description}}
  <p>
    {{.}}
  </p>
  {{/description}}

  <p>
    <a data-id="#systems/{{id}}" class="btn btn-primary btn-show-details">Show Details</a>
    <a data-id="#systems/{{id}}/roles" class="btn btn-primary btn-show-roles">Show Roles</a>
    {{#if isBrowsable}}
    <a href="#files/browse/{{id}}" class="btn btn-primary btn-show-files">Browse Files</a>
    {{/if}}
    {{#if isExecutionSystem}}
    <a href="#apps/system/{{id}}" class="btn btn-primary btn-show-app">Browse Apps</a>
    {{/if}}
  </p>
  <div class="system-details"></div>
</div>
