<div>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{name}}</dd>

    <dt>ID</dt>
    <dd><a href="#jobs/{{id}}">{{id}}</a></dd>

    <dt>Owner</dt>
    <dd>{{owner}}</dd>

    <dt>Execution System</dt>
    <dd><a href="#systems/{{executionSystem}}">{{executionSystem}}</a></dd>

    <dt>App</dt>
    <dd><a href="#apps/{{appId}}">{{appId}}</a></dd>

    <dt>Status</dt>
    <dd>{{status}}</dd>

    <dt>Start Time</dt>
    <dd>{{startTime}}</dd>

  {{#if endTime}}
    <dt>End Time</dt>
    <dd>{{endTime}}</dd>
  {{/if}}
  </dl>
  <div class="io-actions btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" data-bypass="true">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a><i class="icon icon-spinner icon-spin"></i> Loading...</a></li>
    </ul>
  </div>
</div>
