<h1>Job "{{name}}" Details</h1>
<div class="my-profile">
  <div class="actions btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" data-bypass="true">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu"></ul>
  </div>
  <dl class="dl-horizontal">
    <h3>General Information</h3>
    <dt>Name</dt>
    <dd>{{name}}</dd>

    <dt>ID</dt>
    <dd><a href="#jobs/{{id}}">{{id}}</a></dd>

    <dt>Owner</dt>
    <dd>{{owner}}</dd>

    <dt>App</dt>
    <dd><a href="#apps/{{appId}}">{{appId}}</a></dd>

    <dt>Status</dt>
    <dd>{{status}}</dd>

    <dt>Start Time</dt>
    <dd>{{startTime}}</dd>

    {{#if endTime}}
    <dt>End Time</dt>
    <dd>{{endTime}}</dd>
    {{/if}}

    <dt>Execution System</dt>
    <dd><a href="#systems/{{executionSystem}}">{{executionSystem}}</a></dd>

    {{#if batchQueue}}
    <dt>Batch queue</dt>
    <dd>{{batchQueue}}</dd>
    {{/if}}

    <dt>Local job id</dt>
    <dd>{{localId}}</dd>

    <dt>Max run time</dt>
    <dd>{{maxRunTime}}</dd>

    <dt>Node count</dt>
    <dd>{{nodeCount}}</dd>

    <dt>Processors per node</dt>
    <dd>{{processorsPerNode}}</dd>

    <dt>Memory per node</dt>
    <dd>{{memoryPerNode}}</dd>

    <dt>Archive output</dt>
    {{#if archive}}
    <dd>true</dd>
    {{else}}
    <dd>false</dd>
    {{/if}}

    {{#if archive}}
    <dt>Archive path</dt>
    <dd><a href="#files/browse/{{archiveSystem}}/{{archivePath}}">{{archivePath}}</a></dd>

    <dt>Archive system</dt>
    <dd><a href="#systems/{{archiveSystem}}">{{archiveSystem}}</a></dd>
    {{/if}}

    {{#if inputs}}
    <h3>Inputs</h3>
    {{#each inputs}}
    <dt>{{@key}}</dt>
    <dd><a href="#files/browse/{{this.value}}">{{this.name}}</a></dd>
    {{/each}}
    {{/if}}

    {{#if parameters}}
    <h3>Parameters</h3>
    {{#each parameters}}
    <dt>{{@key}}</dt>
    <dd>{{this}}</dd>
    {{/each}}
    {{/if}}

  </dl>


</div>
