<h1>Search Users</h1>
<div class="search">
  <p>You can search for users by username, name, or email address.</p>
  <form method="post" name="profile-search-form">
  <div class="control-group">
    <label class="control-label" for="keyword">Search type</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="searchOption" value="username" {{#if usernameChecked}}checked{{/if}}>
        Username
      </label>
      <label class="radio">
        <input type="radio" name="searchOption" value="name" {{#if nameChecked}}checked{{/if}}>
        Name
      </label>
      <label class="radio">
        <input type="radio" name="searchOption" value="email" {{#if emailChecked}}checked{{/if}}>
        Email Address
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="keyword">Search term</label>
    <div class="controls">
      <input type="text" name="keyword" id="keyword" size="45" value="{{keyword}}">
    </div>
  </div>

  <div class="form-actions">
    <input type="submit" class="btn btn-success btn-search" value="Search">
  </div>
  </form>

  {{#if results}}
  <h2>Search results</h2>
  <div class="results"></div>
  {{/if}}
</div>