<h1>
  Files <small>Browse your files across all your systems</small>
</h1>
{{#path}}<h4>Viewing: {{#parts}}/<a href="#files/browse/{{system}}{{url}}">{{name}}</a>{{/parts}}</h4>{{/path}}

<h4><span class="actions"></span></h4>
<div class="io-files"></div>
