{{#if model}}
  {{#if directory}}
  <button class="btn btn-browse">Browse directory</button>
  {{else}}
  <button class="btn btn-success btn-choose">Select file</button>
  {{/if}}
{{/if}}
<button class="btn btn-cancel">Cancel</button>