<div class="control-label">
  <label for="{{id}}">{{label}}</label>
</div>
<div class="controls">
  <div class="input-append">
    <input type="text" name="{{name}}" id="{{id}}" placeholder="{{prompt}}" value="{{defaultValue}}">
    <button class="btn btn-choose-file">Choose file</button>
  </div>
</div>