<div class="footer-inner">
  <div class="container">
    <a href="http://iplantcollaborative.org"><img src="images/powered_by_iplant.png"></a>
    <div class="pull-right text-right funding">Funded by a grant from the National Science Foundation Plant Cyberinfrastructure Program (#DBI-0735191).</div>
  </div>

</div>
