<div class="container">
    <div class="header-inner">
        <div class="row">
            <div class="span8">
                <h1>
                    <a class="logo" href="">Agave Gateway DNA
                        <br><small>"It's what gateways are made of"</small>
                    </a>
                </h1>
            </div>
            <div class="span4 login-state"></div>
        </div>
    </div>
</div>
