<div class="container">
  <div class="row">
    <div class="span6">
      <h2>Users</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#profile">View My Profile</a></li>
        <li><a href="#profile/search">Search Users</a></li>
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in to view your profile and search users
        </div>
      {{/if}}
    </div>

    <div class="span6">
      <h2>Files</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
          <li><a href="#files/browse/default">Browse My Files</a></li>
          <!-- <li><a href="#files/transfer">Transfer Files</a></li> -->
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in to browse, move, and manage your files
        </div>
      {{/if}}
    </div>

  </div>



<div class="row">
    <div class="span6">
      <h2>Apps</h2>
        {{#if loggedIn}}
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#apps/">Browse and Run Applications</a></li>
          <!-- <li><a href="#apps/create">Register Applications</a></li> -->
        </ul>
        {{else}}
        <div class="alert alert-info">
          Log in to browse and manage your apps
        </div>
      {{/if}}
    </div>

    <div class="span6">
      <h2>Jobs</h2>
        {{#if loggedIn}}
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#jobs/">Browse My Job History</a></li>
        </ul>
        {{else}}
        <div class="alert alert-info">
          Log in to submit and manage jobs
        </div>
      {{/if}}
    </div>

  </div>

  <div class="row">
    <div class="span6">
      <h2>Systems</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#systems">Browse Public and Private Systems</a></li>
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in create and manage Systems
        </div>
      {{/if}}
    </div>


    <div class="span6">
      <h2>PostIts</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#postits">View My PostIts</a></li>
        <li><a href="#postits/create">Create a New PostIt</a></li>
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in create and manage Post-Its
        </div>
      {{/if}}
    </div>
  </div>


 <div class="row">
    <div class="span6">
      <h2>Metadata</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
          <li><a href="#meta/data">Browse Metadata</a></li>
          <li><a href="#meta/data/edit">Create New Metadata</a></li>
          <li><a href="#meta/schema">Browse My Schema</a></li>
          <li><a href="#meta/schema/edit">Create New Schema</a></li>
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in to create and manage metadata
        </div>
      {{/if}}
    </div>

	<div class="span6">
      <h2>Notifications</h2>
      {{#if loggedIn}}
      <ul class="nav nav-pills nav-stacked">
          <li><a href="#notifications">Browse Notifications</a></li>
          <li><a href="#notifications/edit">Subscribe to a new notification</a></li>
      </ul>
      {{else}}
        <div class="alert alert-info">
          Log in to create and manage notifications
        </div>
      {{/if}}
    </div>

  </div>


<div class="row">


<!--
<div class="span6">
    <h2>Transforms</h2>
    {{#if loggedIn}}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#transforms">Browse Transforms</a></li>
        <li><a href="#transforms/create">Transform a file</a></li>
    </ul>
    {{else}}
      <div class="alert alert-info">
        Log in to transform your data
      </div>
    {{/if}}
  </div>
-->

</div>

</div>
