<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="">Home</a>
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse collapse">
      <ul class="nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Apps
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#apps">Browse Apps</a></li>
              <!-- <li><a href="#apps/create">Register</a></li> -->
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Systems
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#systems">Browse Systems</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Jobs
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#jobs">Browse Jobs</a></li>
            </ul>
          </li>
		  <!--
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Transforms
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#transform">List</a></li>
            </ul>
          </li>
      -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Profiles
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#profile">My Profile</a></li>
              <li><a href="#profile/search">Search Users</a></li>
            </ul>
          </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Metadata
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#meta/data">Browse Metadata</a></li>
            <li><a href="#meta/data/edit">Create New Metadata</a></li>
            <li><a href="#meta/schema">Browse Schemata</a></li>
            <li><a href="#meta/schema/create">Create New Schema</a></li>
          </ul>
        </li>

 		    <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Files
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#files/browse/default">Browse files</a></li>
            </ul>
          </li>

          <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown">
               Notifications
               <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <li><a href="#notifications">Browse Notifications</a></li>
               <li><a href="#notifications/search">Search Notifications</a></li>
               <li><a href="#notifications/edit">Create New Notifications</a></li>
             </ul>
           </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              PostIts
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#postits">Current PostIts</a></li>
              <li><a href="#postits/create">Create New PostIt</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
</div>
